@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

button{
  cursor: pointer;
}
:root{
  --main-clr: #2c363f;
  --bg-clr: #49516F;
  --card-clr: #9da39a;
  --text-clr: #E2DDD6;
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  background-color: var(--bg-clr);
  font-family: "Montserrat", sans-serif;
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/

#root, #__next {
  isolation: isolate;
}

.resposta{
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.hidden{
  display: none;
}

.respostes{
  display: grid;
  grid-template-columns: 400px 400px;
  gap: 40px;
  margin-top: 20px;
  justify-content: center;
}

.loginForm{
  margin-top: 40px;
  background-color: var(--text-clr);
  padding: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 300px;
  border-radius: 10px;
}

.loginForm > input{
  margin-top: 10px;
  border-radius: 10px;
  border: solid 1px var(--main-clr);
  padding: 10px 20px;
}

.loginBtns{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.loginBtns > button{
  padding: 10px 20px;
  color: var(--text-clr);
  background-color: var(--main-clr);
  border-radius: 10px;
  border: none;
}

#dashboard {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 16px;
  padding: 16px;
}

.card {
  background-color: white;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card p {
  margin: 0;
  word-break: break-word;
}

.card > button{
  background-color: var(--main-clr);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}

.card h3 {
  margin: 0;
}

.questions{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* responsive */
  gap: 16px;
}

.buttonsDiv{
  display: flex;
  justify-content: space-between;
}

.buttonsDiv > button{
  background-color: var(--main-clr);
  color: white;
  padding: 20px 40px;
  border-radius: 10px;
  border: none;
  font-size: 1.5em;
}

#startGame{
  margin-top: 50px;
  padding: 40px;
  width: 400px;
  font-size: 2em;
  border-radius: 10px;
  border: none;
  background-color: var(--main-clr);
  color: var(--text-clr);
}

#login{
  margin-top: 250px;
  padding: 25px 100px;
  background-color: white;
  border-radius: 20px;
  font-size: 2em;
}

body > h1{
  color: #E2DDD6;
  font-size: 4em;
  margin-top: 200px;
}

#timerDiv{
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 1.6em;
  color: black;
}

.scoreboard{
  margin-top: 20px;
  color: var(--main-clr);
  font-size: 1.5em;
}

.pregunta{
  color: var(--text-clr);
  font-size: 1.5em;
}

#resetGame{
  display: none;
  font-size: 2em;
  color: var(--text-clr);
  background-color: var(--main-clr);
  border: none;
  padding: 40px 80px;
  border-radius: 20px;
  margin-top: 50px;
}

#mainMenu{
  margin-top: 50px;
  font-size: 2em;
  color: var(--main-clr);
  background-color: var(--text-clr);
  border: none;
  padding: 30px 60px;
  border-radius: 20px;
}


